# Scrapy
/.vagrant
/scrapy.iml
*.pyc
_trial_temp*
dropin.cache
docs/build
*egg-info
.tox
venv
build
dist
.idea
htmlcov/
.coverage
.pytest_cache/
.coverage.*
.cache/

# Windows
Thumbs.db

# JSON files
*.json
*.jsonl
*.jl

# Text file with run command
command.txt

# Job scheduling/data exporting scripts
#scripts/

# VS Code
.vscode
